.contato{
    background-color: var(--branco);
    padding: 1em;
    text-align: center;
}

.contato__titulo, .contato__texto{
    background: var(--azul-degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contato__titulo{
    font-size: 18px;
    font-weight: 500;
}

.contato__texto{
    font-weight: 300;
    margin: 1em 0;
}

.contato__email{
    border: 1px solid var(--azul);
    color: var(--azul);
    border-radius: 24px;
    padding: 1em ;
    width: 90%;
}

.contato__email::placeholder{
    font-family: var(--fonte-principal);
    color: var(--azul);
    background: url("../img/Email.svg");
    background-repeat: no-repeat;
    padding-left: 2.1em;
    background-position: 0.1em;
}
