.tópicos{
    background: var(--azul-degrade);
    text-align: center;
    padding: 1.5em 0em;
}

.tópicos__titulo{
    font-weight: 300;
    color: var(--branco);
    margin-bottom: 1em;
}

.tópicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tópicos__item{
    margin: 2em 0.5em;
}

.tópicos__link{
    padding: 1em;
    text-decoration: none;
    background-color: var(--laranja);
    color: var(--branco);
    font-weight: 700;
    font-size: 14px;
}